{% extends 'base.html' %} 
{% load cache %}
  {% block title %}
    Последние обновления в вашей ленте
  {% endblock %}
  {% load thumbnail %}
  {% block content %} 
    <div class="container py-5">
      <h1>Последние обновления в вашей ленте</h1>
      {% include 'posts/includes/switcher.html' %}
      {% for post in page_obj %}
        <ul>
          <li>
            Автор: {{ post.author.get_full_name }}
            <a href="{% url 'posts:profile' post.author.username %}">все посты пользователя</a>
          </li>
          <li>
            Дата публикации: {{ post.pub_date|date:"d E Y" }}
          </li>
        </ul>
        {% thumbnail post.image "200x200" crop="center" as im %}
          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %} 
        <p>{{ post.text|linebreaksbr }}</p>    
        {% if post.group and not group %}   
        <a 
          href="{% url 'posts:group_list' post.group.slug %}">
          все записи группы
        </a>
        <br>
        <a href="{% url 'posts:post_detail' post.pk %}">подробная информация </a>
        {% endif %} 
        {% if not forloop.last %}<hr>{% endif %}
      {% endfor %}
      {% include 'posts/includes/paginator.html' %}
    </div>
  {% endblock %}